<%- include('../layouts/head') %> <%- include('../layouts/navbar') %>

<style>
  h1{
    text-align: center;
  }
 thead tr th{
  margin: 3px;
  padding: 10px;
 }

 tbody tr td{
  margin: 3px;
  padding: 10px;
 }
 a{
   text-decoration: none;
 }
</style>
<h1>A C C U E I L</h1>

<h3>Liste des annonces</h3>

<table>
  <thead>
    <tr>
      <th>titre</th>
      <th >description</th>
      <th>adresse</th>
      <th>code_postal</th>
      <th>Ville</th>
      <th>prix</th>
      <th></th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% annonceList.forEach((annonce) => { %>
    <tr>
      <td><%= annonce.titre %></td>
      <td><%= annonce.description %></td>
      <td><%= annonce.adresse %></td>
      <td ><%= annonce.code_postal %></td>
      <td><%= annonce.ville %></td>
      <td><%= annonce.prix %></td>
      <td></td>
      <td></td>
      <td>
       <button type="button" onclick="deleteAnnonce('<%= annonce._id %>')">
        Supprimer
       </button>
       <button><a href="./update/<%= annonce._id %>">Modifier</a></button>
       <button><a href="./<%= annonce._id %>">details</a></button>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
